{% extends 'base.html.twig' %}

{% block title %}Nos Produits - Tout Pour La Gratte{% endblock %}

{% block body %}
<div class='container-list back'>
    <div class='row'>
        <div class='col-3'>
            <h3 class='title'>Filtre</h3>
            {{ form(form) }}
        </div>
        <div class='col-9'>
            <h1 class='title'>Liste des produits</h1>
            <div class='row'>
            {% for product in products %}
                <div class='col-lg-6 col-12 list'>
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
