<footer>
    <h4>Romain CURTET 2022 &copy <span id="scroll_to_top">
            <a href="#top" id="arrow">&#8679;</a>
        </span>
        <span id="up">Haut de Page</span>
    </h4>

</footer>

</body>

</html>