<footer>
    <h4 class='footer-text'>Romain CURTET 2022 &copy <span class='scroll_to_top float-end'>
            <a href='#top' class='arrow'>&#8679;</a> Haut de Page
        </span>
    </h4>

</footer>

</body>

</html>